.container {
    background-color: $white;
    padding-left: $gutterWidth;
    padding-right: $gutterWidth;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: -$gutterWidth;
    margin-right: -$gutterWidth;

    [class^="track-"] {
        width: 100%;
        margin-bottom: calc(#{$gutterWidth} * 2);
        padding-left: $gutterWidth;
        padding-right: $gutterWidth;
    }

    // this creates all the columns for each breakpoint: medium (md, 768px) and large (lg, 992px)
    @media only screen and (min-width: 768px) {
        @for $i from 1 to 14 {
            @for $j from 1 to 13 {
                @if $i == 1 or 
                   ($i < $j and 
                    (($j % 2 != 0 or $i % 2 != 0) and 
                     ($j % 3 != 0 or $i % 3 != 0) and 
                     ($j % $i != 0))) {
                    .track-md-#{$i}-#{$j} {
                        @include width(#{$i}, #{$j});
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 992px) {
        @for $i from 1 to 14 {
            @for $j from 1 to 13 {
                @if $i == 1 or 
                   ($i < $j and 
                    (($j % 2 != 0 or $i % 2 != 0) and 
                     ($j % 3 != 0 or $i % 3 != 0) and 
                     ($j % $i != 0))) {
                    .track-lg-#{$i}-#{$j} {
                        @include width(#{$i}, #{$j});
                    }
                }
            }
        }
    }
}
