.container {
    width: 90%;
    background-color: $white;
}

.container-horizontal {
    height: 90vh;
    background-color: $white;

    .container-horizontal {
        height: 90%;
    }
}

.section {
    padding: 66px 0 33px 0;
}

.section-sm {
    width: 44px 0 22px 0;
}