.btn {
    color: $white;
    background-color: $color-secondary;
    border-radius: $border-radius;
    @include cushion;
    transition: .2s;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 3px 5px $gray-dark;
    }
}