.form {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.input-box {
    padding: 5px;
    margin-bottom: 7px;
}

.form-input {
	width: 100%;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 15px;
	font-size: 16px;
	margin: 10px 0;
}

textarea.form-input {
    height: 200px;
    font-family: inherit;
}

.form button,
.form [type="submit"] {
	display: block;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
}