.nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    @include cushion;
    transition: .2s;

    .nav-link {
        color: $blue;
        transition: .2s;

        &:not(:last-child) {
            border-right: $gray-dark;
        }
    }

    &:hover {
        background-color: $blue;

        .nav-link {
            color: $white;
            text-shadow: 0 0 5px $gray-dark;
        }
    }
}