body {
    color: $black;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h3, h4, h5, h6 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
    line-height: 24px;
}

h1 {
    font-size: 62px;
    margin-bottom: 30px
}

h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6, p {
    font-size: 18px;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
    font: inherit;
}