
// container values
$gutterWidth: 15px;

// colors
$black: #221;
$white: #fff;
$gray-dark: #333;
$gray: #666;
$gray-light: #999;

$color-primary: #ab00ab;
$color-primary-light: #d600d6;
$color-primary-dark: #880088;

$color-secondary: orangered;

// component values
$border-radius: 3px;